{% extends 'base.html' %}
{% block content %}
<h1>Productos</h1>
<form method="post">
    Nombre: <input type="text" name="nombre"><br>
    Descripción: <input type="text" name="descripcion"><br>
    Precio: <input type="text" name="precio"><br>
    Cantidad: <input type="number" name="cantidad"><br>
    Categoría: <input type="text" name="categoria"><br>
    Proveedor: <input type="text" name="proveedor"><br>
    Fecha de Ingreso: <input type="date" name="fecha_ingreso"><br>
    Activo: <input type="checkbox" name="activo" value="1" checked><br>
    <input type="submit" value="Registrar Producto">
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Categoría</th>
        <th>Proveedor</th>
        <th>Fecha de Ingreso</th>
        <th>Activo</th>
    </tr>
    {% for producto in productos %}
    <tr>
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>{{ producto.categoria }}</td>
        <td>{{ producto.proveedor }}</td>
        <td>{{ producto.fecha_ingreso }}</td>
        <td>{{ producto.activo }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
